/* .hero-banner-container {
    overflow: hidden;
    background-color: #1c1c1e;
    color: #ffffff;
    padding: 40px 0;
  }
  
  .slick-prev:before, .slick-next:before {
    color: #ffffff;
  }
  
  .slick-dots li button:before {
    color: #ffffff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff2625;
  }
  
  .hero-banner-img {
    overflow: hidden;
  }
   */
  /* Additional styling as needed */
  